In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

### Определим географические границы для модели

In [81]:
with open('./data/adm.geojson', 'r') as f:
    adm = json.load(f)
    
adm = pd.DataFrame(adm['features']).drop('type', axis = 1)
boundries = np.array(adm.geometry[0]['coordinates']).reshape(-1,2)

In [32]:
boundries

array([[131.840454,  43.07632 ],
       [131.842182,  43.0817  ],
       [131.846808,  43.084828],
       ...,
       [131.842308,  43.075099],
       [131.843305,  43.072986],
       [131.840454,  43.07632 ]])

In [4]:
lat_bounries = (boundries[:,1].min(), boundries[:,1].max())
long_bounries = (boundries[:,0].min(), boundries[:,0].max())

## Формируем Датасет Buildings из geojson

In [45]:
with open('./data/buildings.geojson', 'r') as f:
    bui = json.load(f)
    
bui = pd.DataFrame(bui['features']).drop('type', axis = 1)
bui.head()

,properties,geometry
0,"{'fid': 1, 'osm_id': '81205362', 'addr:housenu...","{'type': 'MultiPolygon', 'coordinates': [[[[13..."
1,"{'fid': 2, 'osm_id': '81368179', 'addr:housenu...","{'type': 'MultiPolygon', 'coordinates': [[[[13..."
2,"{'fid': 3, 'osm_id': '81370390', 'addr:housenu...","{'type': 'MultiPolygon', 'coordinates': [[[[13..."
3,"{'fid': 4, 'osm_id': '82082664', 'addr:housenu...","{'type': 'MultiPolygon', 'coordinates': [[[[13..."
4,"{'fid': 5, 'osm_id': '103242384', 'addr:housen...","{'type': 'MultiPolygon', 'coordinates': [[[[13..."

In [46]:
# достаем данные из properties
for key in bui.properties[0].keys():
    bui[key] = bui.properties.apply(lambda x: x[key])
    
# достаем данные из geometry
for key in bui.geometry[0].keys():
    bui[key] = bui.geometry.apply(lambda x: x[key])
    
# объединим адресные признаки в один адрес
bui['address'] = bui['addr:postcode'] + [' '] + bui['addr:street'] + [' '] + bui['addr:housenumber']

In [47]:
bui.head(3)

,properties,geometry,fid,osm_id,addr:housenumber,addr:postcode,addr:street,building,addr:housename,amenity_place,floors,population,type,coordinates,address
0,"{'fid': 1, 'osm_id': '81205362', 'addr:housenu...","{'type': 'MultiPolygon', 'coordinates': [[[[13...",1,81205362,37А,690037,улица Адмирала Юмашева,yes,,marketplace,2,NaN,MultiPolygon,"[[[[131.9576618, 43.1252596], [131.9576572, 43...",690037 улица Адмирала Юмашева 37А
1,"{'fid': 2, 'osm_id': '81368179', 'addr:housenu...","{'type': 'MultiPolygon', 'coordinates': [[[[13...",2,81368179,,,,yes,,marketplace,1,NaN,MultiPolygon,"[[[[131.9581768, 43.1254291], [131.9581886, 43...",
2,"{'fid': 3, 'osm_id': '81370390', 'addr:housenu...","{'type': 'MultiPolygon', 'coordinates': [[[[13...",3,81370390,125,,улица Нейбута,office,,marketplace,3,NaN,MultiPolygon,"[[[[131.9637168, 43.1231396], [131.9638559, 43...",улица Нейбута 125

In [48]:
# подправим 3 изначально кривые записи

for i in [2278,8410,8539]:
    bui.coordinates[i] = np.vstack(bui.coordinates[i][0])
    
# преобразуем многомерный список координат в удобный для работы 2мерный

bui.coordinates = bui.coordinates.apply(lambda x: np.array(list(zip(np.array(x).flatten()[1::2],
np.array(x).flatten()[0::2]))))

# определим 'средние' координаты каждого строения по списку координат полигона

bui['lat'] = bui.coordinates.apply(lambda x: x[:,0].astype(float).mean())
bui['long'] = bui.coordinates.apply(lambda x: x[:,1].astype(float).mean())

<ipython-input-48-7d3e6456a61e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bui.coordinates[i] = np.vstack(bui.coordinates[i][0])

In [53]:
# убираем строения выходящие за границы

bui = bui[(bui.lat >= lat_bounries[0]) & (bui.lat <= lat_bounries[1]) &\
    (bui.long >= long_bounries[0]) & (bui.long <= long_bounries[1])]

In [54]:
# итоговый датасет с домами и населением Владивостока

bui = bui[['amenity_place', 'floors', 'population', 'address', 'lat', 'long']]
bui

,amenity_place,floors,population,address,lat,long
0,marketplace,2,NaN,690037 улица Адмирала Юмашева 37А,43.125287,131.957594
1,marketplace,1,NaN,,43.125417,131.958202
2,marketplace,3,NaN,улица Нейбута 125,43.123237,131.963757
3,marketplace,1,NaN,,43.125295,131.957713
4,marketplace,2,NaN,улица Сабанеева 22А,43.128502,131.956351
...,...,...,...,...,...,...
60897,None,None,NaN,улица Ключ 4-й 17,43.281678,132.077552
60898,None,None,NaN,улица Ключ 4-й 10А,43.280893,132.078094
60899,None,2,NaN,улица Ключ 4-й 2,43.281579,132.075125
60900,None,None,NaN,улица Ключ 4-й 5А,43.281906,132.075485
60901,None,2,NaN,улица Ключ 4-й 13,43.281699,132.077225

In [337]:
bui.to_csv('_buildings.csv', index = False)

## Формируем Датасет Points of Interest из geojson

In [56]:
with open('./data/POI.geojson', 'r') as f:
    data = json.load(f)
    
poi = pd.DataFrame(data['features']).drop('type', axis = 1)
poi.head()

,properties,geometry
0,"{'osm_id': '261715276', 'amenity': 'bus_statio...","{'type': 'Point', 'coordinates': [131.9056239,..."
1,"{'osm_id': '349352422', 'amenity': 'customs', ...","{'type': 'Point', 'coordinates': [131.867301, ..."
2,"{'osm_id': '440605593', 'amenity': 'atm', 'nam...","{'type': 'Point', 'coordinates': [131.8792176,..."
3,"{'osm_id': '441700945', 'amenity': 'cinema', '...","{'type': 'Point', 'coordinates': [131.8987251,..."
4,"{'osm_id': '441729872', 'amenity': 'ferry_term...","{'type': 'Point', 'coordinates': [131.8841144,..."

In [57]:
# достаем данные из properties

for key in poi.properties[0].keys():
    poi[key] = poi.properties.apply(lambda x: x[key])
    
# достаем данные из geometry

for key in poi.geometry[0].keys():
    poi[key] = poi.geometry.apply(lambda x: x[key])
    
poi = poi.drop(['type', 'properties', 'geometry'], axis =1)
poi['lat'] = poi.coordinates.apply(lambda x: x[1])
poi['long'] = poi.coordinates.apply(lambda x: x[0])

In [58]:
poi = poi[['lat', 'long', 'amenity', 'name', 'description', 'operator', 'brand', 'brand:wikipedia']]
poi.head()

,lat,long,amenity,name,description,operator,brand,brand:wikipedia
0,43.164242,131.905624,bus_station,Автовокзал,,,,
1,43.096901,131.867301,customs,Vladivostok customs,Владивостокский таможенный пост,,,
2,43.116883,131.879218,atm,,,МДМ Банк,,
3,43.133078,131.898725,cinema,Москва,,,,
4,43.112196,131.884114,ferry_terminal,Вокзал прибрежных сообщений,,,,

## Посмотрим, что можно использовать и добавить в данные

In [59]:
poi.amenity.value_counts()

atm                   250
cafe                  224
bench                 222
pharmacy              186
waste_disposal        140
bank                  131
fast_food             126
waste_basket          126
car_wash               82
fuel                   79
toilets                76
restaurant             66
dentist                65
post_office            54
doctors                41
bar                    34
hospital               29
clinic                 28
library                20
community_centre       18
post_box               16
police                 15
vending_machine        14
kindergarten           14
pub                    13
veterinary             13
fountain               11
driving_school          9
school                  9
nightclub               8
car_rental              8
place_of_worship        8
parking_entrance        8
drinking_water          8
vehicle_ramp            8
recycling               7
bbq                     6
telephone               6
shelter                 5
courthouse              5
public_building         5
boat_storage            4
theatre                 3
fire_station            3
college                 3
childcare               3
arts_centre             3
ferry_terminal          3
public_bookcase         2
hunting_stand           2
marketplace             2
townhall                2
cinema                  2
charging_station        2
stripclub               2
parking                 2
vehicle_inspection      1
Issuing orders          1
embassy                 1
bus_station             1
equipment_rental        1
shower                  1
bureau_de_change        1
social_facility         1
grit_bin                1
studio                  1
food_court              1
payment_terminal        1
boat_rental             1
clock                   1
customs                 1
university              1
ski_rental              1
beauty                  1
yacht_club              1
music_school            1
Name: amenity, dtype: int64

In [60]:
# объединим категории объектов по смыслу

medics = ['doctors', 'dentist', 'hospital', 'clinic']
education = ['library', 'kindergarten', 'school', 'driving_school', 'music_school']
facility = ['waste_basket', 'bench', 'waste_disposal', 'toilets', 'bbq', 'drinking_water', 'recycling', 'shelter']
heduction = ['university', 'college']
alco = ['bar', 'pub']
goverment = ['customs', 'embassy', 'townhall', 'fire_station', 'courthouse', 'public_building', 'police']
culture = ['cinema', 'arts_centre', 'theatre']

In [61]:
def amenity(value):
    if value in medics: return 'medics'
    elif value in education: return 'education'
    elif value in facility: return 'facility'
    elif value in heduction: return 'heduction'
    elif value in alco: return 'alco'
    elif value in goverment: return 'goverment'
    elif value in culture: return 'culture'
    else: return value

In [62]:
poi.amenity = poi.amenity.apply(amenity)

In [63]:
# уберем из POI редкие типы точек, влияние которых мы никак не сможем оценить из-за малого количества

top_poi = poi.amenity.value_counts()[poi.amenity.value_counts() > 3].index.tolist()
top_poi

['facility',
 'atm',
 'cafe',
 'pharmacy',
 'medics',
 'bank',
 'fast_food',
 'car_wash',
 'fuel',
 'restaurant',
 'post_office',
 'education',
 'alco',
 'goverment',
 'community_centre',
 'post_box',
 'vending_machine',
 'veterinary',
 'fountain',
 'nightclub',
 'culture',
 'place_of_worship',
 'car_rental',
 'vehicle_ramp',
 'parking_entrance',
 'telephone',
 'heduction',
 'boat_storage']

In [65]:
poi = poi[poi['amenity'].isin(top_poi)]
poi.shape

(2217, 8)

## Добавим спарсенные данные по службам доставки, постоматам и магазинам

In [66]:
# SDEK

sdek_adr = pd.read_csv('./data/parsed_sdek_adr.csv')
sdek_adr = sdek_adr[['displayLatitude','displayLongitude']]

In [67]:
sdek_adr.columns = ['lat', 'long']

sdek_adr['amenity'] = 'sdek'
sdek_adr['name'] = 'sdek'
sdek_adr

         lat       long amenity  name
0   43.14638  131.93123    sdek  sdek
1   43.12824  131.89668    sdek  sdek
2   43.10026  131.93005    sdek  sdek
3   43.13618  131.92991    sdek  sdek
4   43.09581  131.97493    sdek  sdek
5   43.12748  131.92319    sdek  sdek
6   43.15151  131.90988    sdek  sdek
7   43.10333  131.89748    sdek  sdek
8   43.17431  131.91054    sdek  sdek
9   43.12896  131.93323    sdek  sdek
10  43.11963  131.88438    sdek  sdek
11  43.16918  131.91734    sdek  sdek
12  43.16348  131.90637    sdek  sdek
13  43.11346  131.91845    sdek  sdek
14  43.11253  131.93541    sdek  sdek
15  43.09575  131.86262    sdek  sdek
16  43.10186  131.94162    sdek  sdek

In [68]:
# Постаматы и ПВЗ

postamats = pd.read_csv('./data/parsed_postamats.csv')

postamats['amenity'] = postamats['PT_Name'].apply(lambda x: x.split(': ')[0])
postamats['name'] = postamats['PT_Name'].apply(lambda x: x.split(': ')[1])

postamats = postamats[['latitude','longitude','amenity','name']]
postamats.columns = ['lat','long','amenity','name']

In [69]:
postamats.amenity = postamats.amenity.replace({'Постамат': 'postamat', 'ПВЗ': 'pvz'})
postamats.lat = postamats.lat.apply(lambda x: x.replace(',', '.'))
postamats.long = postamats.long.apply(lambda x: x.replace(',', '.'))
postamats

          lat        long   amenity           name
0   43.119228  131.921238  postamat           QIWI
1   43.129519  131.893219  postamat           QIWI
2   43.149202  131.909916  postamat           QIWI
3   43.158051  131.918594  postamat      PickPoint
4   43.126597  131.949569  postamat           QIWI
5   43.089305  131.860862  postamat           QIWI
6   43.212708  131.951079  postamat           QIWI
7   43.114214  131.959787  postamat           QIWI
8   43.124171  131.905115  postamat           QIWI
9   43.217021  131.956138  postamat           QIWI
10  43.111515  131.938022       pvz  ТД Зеркальный
11  43.111394   131.93461       pvz         Lamoda
12  43.119191  131.932688  postamat           QIWI
13  43.164604  131.906613       pvz      PickPoint
14  43.169378  131.925927  postamat           QIWI
15  43.096682  131.966499  postamat           QIWI
16  43.114029  131.895636  postamat           QIWI
17  43.098732   131.92042  postamat           QIWI
18   43.11212  131.926349  postamat           QIWI
19  43.092333  131.970115  postamat           QIWI
20  43.144127  131.907572  postamat           QIWI
21  43.114924  131.910763  postamat           QIWI
22  43.132651  131.905409  postamat           QIWI
23  43.180344  131.920546  postamat           QIWI
24  43.094097  131.863674  postamat           QIWI
25  43.131401  131.942231  postamat           QIWI
26  43.176248  131.913054  postamat           QIWI
27  43.110317  131.876475  postamat           QIWI
28   43.16877  131.925218  postamat           QIWI
29  43.101971   131.91556  postamat           QIWI
30  43.160948  131.913431  postamat           QIWI
31  43.129907   131.91238  postamat           QIWI
32  43.161947  131.932035       pvz         Exmail
33  43.129597  131.926028  postamat      PickPoint
34  43.132802  131.909227       pvz     Westfalika
35  43.168589  131.915893       pvz     Westfalika
36  43.121873  131.954736  postamat           QIWI
37  43.093281  131.904628  postamat           QIWI
38  43.102622  131.917501  postamat      PickPoint
39   43.10151  131.945115       pvz     Westfalika
40  43.153391  131.908931       pvz     Westfalika
41  43.094045  131.902813  postamat      PickPoint
42  43.119366  131.955715  postamat           QIWI
43  43.157702   131.92764  postamat           QIWI
44  43.126137  131.913126  postamat           QIWI
45  43.105407  131.953469  postamat           QIWI
46  43.111988  131.917537  postamat           QIWI

In [76]:
# Магазины Владивостока

grocery = pd.read_csv('./data/grocery.csv')

In [77]:
grocery = grocery[['lat', 'long', 'amenity', 'name', 'description', 'operator', 'brand', 'brand:wikipedia']]
grocery.amenity = grocery.amenity.apply(lambda x: 'grocery')
grocery

,lat,long,amenity,name,description,operator,brand,brand:wikipedia
0,43.151530,131.955804,grocery,Светофор,Светофор,NaN,магазин,NaN
1,43.127140,131.906364,grocery,Реми,Реми,NaN,сеть продовольственных супермаркетов,NaN
2,43.097485,131.958781,grocery,Реми,Реми,NaN,сеть продовольственных супермаркетов,NaN
3,43.164010,131.920743,grocery,Реми,Реми,NaN,сеть продовольственных супермаркетов,NaN
4,43.089582,131.860868,grocery,Самбери,Самбери,NaN,сеть гипермаркетов,NaN
...,...,...,...,...,...,...,...,...
226,43.083021,131.853045,grocery,Минимаркет,NaN,Минимаркет,NaN,NaN
227,43.176588,131.917087,grocery,Моя мечта,Моя мечта,NaN,мини-маркет,NaN
228,43.178099,131.931135,grocery,Мини-маркет,NaN,Мини-маркет,NaN,NaN
229,43.188284,131.914210,grocery,Эклетика,Эклетика,NaN,мини-маркет,NaN
230,43.033032,131.887362,grocery,7/24,июл.24,NaN,мини-маркет,NaN

### Объединим датасеты в один

In [78]:
total_poi = pd.concat((poi, grocery, sdek_adr, postamats), axis = 0, ignore_index = True)

In [79]:
total_poi.lat = total_poi.lat.astype(float)
total_poi.long = total_poi.long.astype(float)

In [80]:
# границы 

total_poi = total_poi[(total_poi.lat >= lat_bounries[0]) & (total_poi.lat <= lat_bounries[1]) &\
    (total_poi.long >= long_bounries[0]) & (total_poi.long <= long_bounries[1])]

In [364]:
total_poi.to_csv('_total_poi.csv', index = False)